.home{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__text-wrapper{
        display: flex;
        align-content: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        height: 100vh; 

        h1{
            color: var(--yellow-theme-main-color);
            margin: 0px;
            font-weight: 500;
            font-size: 5rem;
            line-height: 10rem;
            position: relative;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
            
        }
        .text-animation{
            animation: typingEffectAnimation 5s steps(30, end) infinite;
            color: burlywood;
        }
    }
}

@media only screen and (max-width: 550px){
    .home__text-wrapper h1{
        font-size: 3rem;
        line-height: 5rem;
    }
}

@media only screen and (min-width: 551px) and (max-width:768px) {
    .home__text-wrapper h1{
        font-size: 4rem;
        line-height: 6rem;
    }
}
@media only screen and (min-width: 769px) and (max-width:990px) {
    .home__text-wrapper h1{
        font-size: 5rem;
        line-height: 8rem;
    }
}

@keyframes typingEffectAnimation {
    0% {
      width: 0;
    }
    50% {
      width: 100%;
    }
    60% {
      width: 100%;
    }
    100% {
      width: 0;
    }
  }