@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

:root{

  --yellow-theme-background-color : #111827;
  --yellow-theme-main-color : #ffffff;
  --yellow-theme-sub-text-color : #ffffff;
  --yelow-theme-nav-background-color : #1f2937;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  background: var(--yellow-theme-background-color);
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

#root{
  height: 100%;
}

